<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.arendan">
    <uses-sdk android:targetSdkVersion="27" />

    <application android:label="ArendaElit">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>