<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.elit2020m">
    <uses-sdk android:targetSdkVersion="27" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="Elit2020m">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>